# NODE_TLS_REJECT_UNAUTHORIZED="0" // Only enable if you're testing on localhost

NEXT_PUBLIC_SITE_URL=http://localhost:3000
# Your WordPress site URL
NEXT_PUBLIC_WORDPRESS_URL=

# Plugin secret found in WordPress Settings->Headless
FAUSTWP_SECRET_KEY=

# Iron Session Cookie Password
SECRET_COOKIE_PASSWORD='complex_password_at_least_32_characters_long';
